<ng-template #contact let-firstName="myFirstName" let-greeting="greeting">
  <h2>Contact Template</h2>
  <p>Hello, I am {{ firstName }}!</p>
  <button (click)="greeting(firstName)">Show first name</button>
</ng-template>

<div class="template-content">
  <ng-container [ngTemplateOutlet]="contact" [ngTemplateOutletContext]="context"></ng-container>
</div>

<div class="template-content">
  <ng-container [ngTemplateOutlet]="contact"></ng-container>
</div>

<div class="template-content">
  <ng-container [ngTemplateOutlet]="contact"></ng-container>
</div>
