<div mat-dialog-content>
  <p mat-dialog-title>Do you want to add '{{data.title}}' to your private collection?</p>
</div>
<div mat-dialog-actions>
  <button class="btn" (click)="onNoClick()">No Thanks</button>
  <button class="btn" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
