<div class="row">
  <div class="col m6">
    <div class="input-field">
      <input id="search" type="text" name="title" [(ngModel)]="title" #titleVar="ngModel" (input)="search(titleVar.value)"
             [ngClass]="{'invalid': titleVar.invalid && (titleVar.dirty || titleVar.touched)}" required
             minlength="2"/>
      <label for="search">Search a title</label>
    </div>
  </div>
</div>

