<div class="choose-quantity-container">
  <span>{{label}}</span>
  <div class="choose-quantity">
    <button class="btn-floating waves-effect waves-light red" type="button" (click)="onRemove()">
      <i class="material-icons">remove</i>
    </button>
    <div class="quantity">{{quantity}}</div>
    <button class="btn-floating waves-effect waves-light" type="button" (click)="onAdd()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
