<app-search (searchedItem)="searchTitle($event)"></app-search>

<div class="switch">
  <label>
    Online
    <input type="checkbox" (click)="toggleOnline()" checked>
    <span class="lever"></span>
    Private
  </label>
</div>

<h1>My own movie Collection</h1>
<app-list [showDelete]="!isOnline" [myItemList]="movieList" (selected)="navigateToDetail($event)" (delete)="deleteMovie($event)"></app-list>

