<div class="page">
  <app-ng-template-child1 [someTemplate]="contact"></app-ng-template-child1>
  <app-ng-template-child2 [someTemplate]="contact"></app-ng-template-child2>
</div>

<ng-template #contact let-templateTitle="title" let-action="someMethod">
  <h2>{{ templateTitle }}</h2>
  <button (click)="action(templateTitle)">Show Title</button>
</ng-template>
