<h3>ViewChild using Directive</h3>
Color Example:
<p cpColor>Change my Color </p>
<p cpColor>Change my Color </p>
<fieldset>
  <legend>Change Color</legend>
  <p>
    <label>
      <input class="with-gap" type="radio" name="rad" (click)="changeColor('green')"/>
      <span>Green</span>
    </label>
  </p>
  <p>
    <label>
      <input class="with-gap" type="radio" name="rad" (click)="changeColor('cyan')"/>
      <span>Cyan</span>
    </label>
  </p>
  <p>
    <label>
      <input class="with-gap" type="radio" name="rad" (click)="changeColor('blue')"/>
      <span>Blue</span>
    </label>
  </p>
</fieldset>

